<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-3 mb-4 border-bottom border-black"
>
  <a
    href="/"
    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
  >
    <h2>appShop</h2>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="/" class="nav-link px-2 link-secondary">Home</a></li>
    <li>
      <a routerLink="/preferiti" class="nav-link px-2 link-dark">Preferiti</a>
    </li>
  </ul>

  <div class="col-md-3 text-end">
    <app-cart></app-cart>
  </div>
</header>
